body {
    margin: 0;
}
#horizontal-menu {
    background-color:#00E94A;
    padding: 2%;
    display: grid;
    grid-template-columns: 45% 45% 45%;
    overflow-x: scroll;
    gap: 5%;
}
.category{
    display: flex;
    flex-direction: column;
    background-color: #FF8D19;
}
.category img {
    margin: 5% auto;
    width: 70%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}
.category input{
    border: 1px solid black;
}
.category select {
    border: 1px solid black;

}
.category input[type=number] {
    width: 45%;
    border-radius: 5px;
    margin: 3% 0;
}
.category input[type=button] {
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}
#list {
        background-color: #01BAEF;
    padding-top: 3%;
    border-top: 1px solid black;
}
#list-table {
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
}
#list-table p {
    border: 1px solid black;
    margin: 0;
    text-align: center;
}
